<form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
  <div class="form-group" >
      <div class="input-group">
          <input type="email" name="login_email" class="form-control" placeholder="Username or email" formControlName="email">
      </div>
      <div [hidden]="warEmail=='hidd'" class="alert alert-danger">
        Username or email is required!
      </div>
  </div>
  
  <div class="form-group ">
      <div class="input-group">
          <input type="password" name="login_password" class="form-control" placeholder="Password" formControlName="password">
      </div>
      <div [hidden]="warPass=='hidd'" class="alert alert-danger">
        Password is required!
      </div>
  </div>
  
  <div class="form-group">
      <input type="checkbox" id="rememberMe" formControlName="check">
      <label for="rememberMe" class ="mx-3">Agree to terms</label>
      <a href="#" class="pull-left">Forgot password?</a>
      <div [hidden]="warTerm=='hidd'" class="alert alert-danger">
          Accept the terms!
      </div>
  </div>  
  
  <input type="submit" value="Login" class="btn btn-success btn-custom">

</form>