<div class="container-fluid wids">

  <div class="btn-group btn-group-toggle btn-block my-3">
    <label class="btn" [ngClass]="btnLog">
      <input type="radio" name="options" id="option1" autocomplete="off" (click)="myToggle('log')"> Login
    </label>
    <label class="btn" [ngClass]="btnReg">
      <input type="radio" name="options" id="option2" autocomplete="off" (click)="myToggle('reg')"> Register
    </label>
  </div>

  <app-login *ngIf='visLogReg == "log"'></app-login>
  <app-register *ngIf='visLogReg == "reg"'></app-register>
</div>


